.header {
  background-color: rgb(107, 193, 222);
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px;
  border-radius: 15px;
  padding: 20px 30px;
}

.btn {
  border: none;
  color: white;
  background-color: rebeccapurple;
  font-size: 1rem;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px dotted rgb(43, 24, 33);
}